* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    outline: none;
    border: none;
    font-family: 'Montserrat', sans-serif;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

:root {
    --bg-color: #212121;
    --second-bg-color: #333333;
    --primary: #d98e04;
    --primary-light: #fcbe4c;
    --white: #fff;
    --black: #000;
}

section {
    color: var(--white);
    min-height: 100vh;
    padding: 8rem 9% 8rem; /* top right-left bottom */
}

.home {
    display: flex;
    align-items: center;
    padding: 0 9%;
    background-image: url('./assets/personal-trainer-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: inset 0px -90px 35px -59px var(--bg-color);
}

.home-content {
    max-width: 50rem;
    z-index: 99;
}

.home-content h1 {
    position: relative;
    display: inline-block;
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
    color: var(--white);
}

.home-content h1 span {
    color: var(--white);
}

.home-content .text-animate {
    position: relative;
    width: 32.8rem;
}

.home-content .text-animate h3 {
    font-size: 3.2rem;
    font-weight: 700;
    color: var(--white);
    -webkit-text-stroke: .7px var(--main-color); /* borda do texto */
    background-image: linear-gradient(var(--main-color), var(--main-color));
    background-repeat: no-repeat;
    background-position: -33rem 0;
}

.home-content p {
    position: relative;
    font-size: 1.8rem;
    margin: 2rem 0 4rem;
    color: var(--white);
    line-height: 2.5rem;
}

.btn-box {
    position: relative;
    width: 100%;
}

/* para quem é o atendimento */

.who-for {
    background: var(--bg-color);
}

.who-for .who-for-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.who-for-row .who-for-column {
    flex: 1 1 40rem;
}

.who-for-column .who-for-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
    /* width: 50%; */
}

.who-for-column .who-for-box h2, .follow-up-box h2 {
    font-weight: bold;
    font-size: 3rem;
    text-transform: uppercase;
}

.who-for-column .who-for-box p, .follow-up-box p {
    font-size: 1.7rem;
}

.who-for-column .who-for-box .detail-item, .follow-up-box .detail-item {
    display: flex;
    gap: 2rem;
}

.who-for-column .who-for-box .detail-item i, .follow-up-box i {
    font-size: 30px;
    font-weight: bold;
    color: var(--primary);
}

.default-button {
    background: linear-gradient(to right, var(--primary), var(--primary-light));
    position: relative;
    cursor: pointer;
    padding: 2rem 4rem 2rem;
    border-radius: 1rem;
    opacity: .8;
}

.default-button:hover {
    opacity: 1;
}

.default-button a {
    color: var(--white);
    font-size: 2.1rem;
    text-transform: uppercase;
    font-weight: bold;
}

hr {
    background: var(--bg-color);
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, transparent, var(--primary-light), transparent);  
}

.who-for-column:nth-child(1) {
    width: 200px;
    height: 412px;
    background-image: url('./assets/people-working-out-indoors-together-with-dumbbells.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
}

.who-for-column-item {
    width: 50%;
    height: 100%;
    position: relative;
}

.who-for-column-item:nth-child(1) {
    border-top: 6px solid var(--primary-light);
    border-left: 6px solid var(--primary-light);
    border-right: 5px solid var(--bg-color);
    border-bottom: 6px solid var(--primary-light);
}

.who-for-column-item:nth-child(2) {
    border-top: 6px solid var(--primary-light);
    border-left: 5px solid var(--bg-color);
    border-right: 6px solid var(--primary-light);
    border-bottom: 6px solid var(--primary-light);
}

.who-for-column-item:nth-child(1)::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 1px solid var(--bg-color);
    border-right: 50px solid transparent;
    border-bottom: 50px solid var(--bg-color);
    left: -8px;
    top: -6px;
    transform: rotate(90deg);
}

.who-for-column-item:nth-child(1)::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 1px solid var(--bg-color);
    border-right: 50px solid transparent;
    border-bottom: 50px solid var(--bg-color);
    right: -7px;
    bottom: -7px;
    transform: rotate(270deg);
}

.who-for-column-item:nth-child(2)::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 1px solid var(--bg-color);
    border-right: 55px solid transparent;
    border-bottom: 55px solid var(--bg-color);
    left: -10px;
    top: -7px;
    transform: rotate(90deg);
}

.who-for-column-item:nth-child(2)::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 1px solid var(--bg-color);
    border-right: 50px solid transparent;
    border-bottom: 50px solid var(--bg-color);
    right: -12px;
    bottom: -9px;
    transform: rotate(270deg);
}

/* como funciona o acompanhamento */

.follow-up {
    background: var(--second-bg-color);
}

.follow-up .follow-up-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 7rem;
}

.follow-up-column .follow-up-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
}

.follow-up-column:nth-child(1) {
    max-width: 500px;
}

.follow-up-column:nth-child(2) {
    height: 500px;
    position: relative;
    border-image: linear-gradient(to right, var(--primary), var(--primary-light));
    border-width: 6px;
    border-style: solid;
    border-image-slice: 1;
}

.follow-up-column:nth-child(2) img {
    width: 100%;
    height: 100%;
}

.follow-up-column:nth-child(2)::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 1px solid var(--second-bg-color);
    border-right: 50px solid transparent;
    border-bottom: 50px solid var(--second-bg-color);
    left: -8px;
    top: -7px;
    transform: rotate(90deg);
    z-index: 1;
}

.follow-up-column:nth-child(2)::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 1px solid var(--second-bg-color);
    border-right: 50px solid transparent;
    border-bottom: 50px solid var(--second-bg-color);
    right: -7px;
    bottom: -7px;
    transform: rotate(270deg);
}

/* como funciona */

.how-it-work {
    background: var(--bg-color);
    position: relative;
    padding: 8rem 9% 14rem;
}

.how-it-work .how-it-work-btn .btn-box {
    display: flex;
    justify-content: center;
}

.how-it-work .how-it-work-row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5rem;
}

.how-it-work .how-it-work-row h2 {
    font-size: 3rem;
    text-transform: uppercase;
    margin-bottom: 4rem;
}

.how-it-work-row .how-it-work-boxs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
    max-width: 70%;
}

.how-it-work-boxs .how-it-work-item {
    width: 300px;
    height: 180px;
    position: relative;
    border-width: 8px;
    border-style: solid;
    border-image: linear-gradient(var(--second-bg-color), var(--primary));
    border-image-slice: 1;
}

.how-it-work-boxs .how-it-work-item .content-item {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    background: linear-gradient(to right, var(--primary), rgba(0, 0, 0, .7));
}

.how-it-work-boxs .how-it-work-item .content-item h1 {
    font-size: 7rem;
}

.how-it-work-boxs .how-it-work-item .content-item p {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
}

.how-it-work-boxs .how-it-work-item::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 1px solid var(--bg-color);
    border-right: 40px solid transparent;
    border-bottom: 40px solid var(--bg-color);
    left: -9px;
    top: -8px;
    transform: rotate(90deg);
    z-index: 1;
}

.how-it-work-boxs .how-it-work-item::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 1px solid var(--bg-color);
    border-right: 40px solid transparent;
    border-bottom: 40px solid var(--bg-color);
    right: -9px;
    bottom: -8px;
    transform: rotate(270deg);
}

.how-it-work-boxs .how-it-work-item:nth-child(1) {
    background-image: url('https://img.freepik.com/premium-photo/beautiful-young-fitness-woman-working-out-gym_130388-717.jpg?w=740');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.how-it-work-boxs .how-it-work-item:nth-child(2) {
    background-image: url('https://img.freepik.com/free-photo/young-happy-sportswoman-getting-ready-workout-tying-shoelace-fitness-center_637285-470.jpg?w=740&t=st=1686158611~exp=1686159211~hmac=d24824212ff6a5e189353bbb600afb5d0b51cb55a9db00a88ab7ff28acf04914');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.how-it-work-boxs .how-it-work-item:nth-child(3) {
    background-image: url('https://img.freepik.com/free-photo/young-man-sportswear-exercise-class-gym_1150-12372.jpg?w=740&t=st=1686158633~exp=1686159233~hmac=2f1234d0c753b5cc7724c8da9f5021ef89e5d1e2e10936b795b6463db63fdeb3');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.how-it-work-boxs .how-it-work-item:nth-child(4) {
    background-image: url('https://img.freepik.com/free-photo/fit-couple-lifting-barbells-gym_329181-19979.jpg?w=740&t=st=1686159080~exp=1686159680~hmac=8495fe09807ef8b7c009c52e5a7ac22bbc2d7f2af7a518942f3755fc733bd1f4');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.how-it-work-boxs .how-it-work-item:nth-child(5) {
    background-image: url('https://img.freepik.com/free-photo/bodybuilder-training-arm-with-resistance-band_7502-4758.jpg?w=740&t=st=1686158709~exp=1686159309~hmac=0518d13bf74858bc8a56c487322227d8c0b043cb051a6a3c795e198cff364a65');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.last-section {
    background: var(--second-bg-color);
}

.last-section .last-section-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.last-section .last-section-content h2 {
    font-size: 2.7rem;
    text-transform: uppercase;
    text-align: center;
}

.last-section .last-section-content span {
    text-transform: uppercase;
    font-weight: bold;
    color: var(--primary);
    font-size: 2.3rem;
    text-align: center;
}

.last-section .last-section-content p {
    font-size: 1.7rem;
    text-align: center;
    line-height: 3rem;
}

.last-section .last-section-btn .btn-box {
    margin-top: 5.5rem;
    justify-content: center;
}

.last-section .last-section-btn .btn-box .default-button {
    background: linear-gradient(to right, #01cc4b, #25d366);
}

/* footer */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--primary-light);
}

.footer-text, .footer-icontop {
    position: relative;
}

.footer-text p {
    color: var(--black);
    font-size: 1.7rem;
    font-weight: 500;
}

.footer-icontop a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 1.2rem;
    background: var(--second-bg-color);
    border-radius: .6rem;
    z-index: 1;
    overflow: hidden;
}

.footer-icontop a i {
    font-size: 2.4rem;
    color: var(--white);
    transition: .5s;
}

.footer-icontop a:hover i {
    color: var(--primary-light);
}

/* BREAKPOINTS */

@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 520px) {
    html {
        font-size: 50%;
    }

    .default-button {
        opacity: 1;
    }

    .default-button a {
        font-size: 1.8rem;
    }

    .who-for-column .who-for-box h2, .follow-up-box h2 {
        font-size: 2.5rem;
    }

    .who-for-column:nth-child(1) {
        background-position: 65% 0;
        height: 350px;
    }

    .follow-up-column:nth-child(2) {
        height: 400px;
    }

    .how-it-work-row {
        flex-direction: column;
        align-items: center;
    }

    .footer {
        flex-direction: column-reverse;
        gap: 2rem;
    }

    .footer-icontop a {
        padding: 1rem;
    }
}

@media (max-width: 462px) {
    .home {
        background-position: 65% 0;
        position: relative;
    }

    .home::before {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(rgba(0, 0, 0, .2), var(--bg-color));
    }

    .home-content h1 {
        font-size: 5.2rem;
    }

    .home-content p {
        font-size: 2.2rem;
        line-height: 3.6rem;
        font-weight: 500;
    }

    .how-it-work .how-it-work-row h2 {
        font-size: 2.5rem;
    }

    .last-section .last-section-content h2 {
        font-size: 2.5rem;
    }

    .last-section .last-section-content p {
        font-size: 2rem;
    }

    .footer p {
        margin-top: 2rem;
        text-align: center;
    }
}

@media (max-width: 371px) {
    .home {
        justify-content: center;
    }

    .home-content {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .home-content h1 {
        font-size: 5rem;
    }
}